h2[id="red"]{       /* #red ---> id selector could also be used */
    color:red;
}

h2[id="blue"]{       /* #blue ---> id selector could also be used */
    color:blue;
}

h2[id="orange"]{      /* #orange ---> id selector could also be used */
    color:orange;
}

h2[id="green"]{           /* #green ---> id selector could also be used */
    color:green;
}

h2[id="yellow"]{          /* #yellow ---> id selector could also be used */
    color:yellow;
}

.color-title{
    font-weight:normal;
}

img{
    height:200px;
    width:200px;
}